<% provide(:title, 'Where is the ISS?') %>
<h3>Name: <%= @iss_api["name"] %></h3>
<h3>ID: <%= @iss_api["id"] %></h3>
<h3>Latitude: <%= @iss_api["latitude"] %></h3>
<h3>Longitude: <%= @iss_api["longitude"] %></h3>
<h3>Altitude: <%= @iss_api["altitude"] %></h3>
<h3>Units: <%= @iss_api["units"] %></h3>
<h3>Timestamp: <%= @iss_api["timestamp"] %></h3>
<%= @iss_map["map_url"] %>
