<% provide(:title, 'Where is the ISS?') %>
<h1>Name: <%= @iss_api["name"] %></h1>
<h1>ID: <%= @iss_api["id"] %></h1>
<h1>Latitude: <%= @iss_api["latitude"] %></h1>
<h1>Longitude: <%= @iss_api["longitude"] %></h1>
<h1>Altitude: <%= @iss_api["altitude"] %></h1>
<h1>Units: <%= @iss_api["units"] %></h1>
<h1>Timestamp: <%= @iss_api["timestamp"] %></h1>
